#nav{
	margin-left: 150px;

}

#gameName {
	width:22%;
	padding-bottom: 15px;
	padding-top: ;
	display:block; 
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	cursor: pointer;

}

#gameOver {
	width:50%;
	padding-bottom: 15px;
	padding-top: 150px;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	cursor: pointer;
}



canvas {
	background-color: black;
	display: block; 
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}

body {
	background-color: black;
}

.Collectibles {
	display: flex;
	margin-left: 20px 
}

.CoinBlock {
	position: relative;
	margin:20px;
	width:8em;
	height: 8em;
	cursor: pointer;
	animation-name: Float;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in;
	animation-timing-function: ease-out;
}

.Coin {
	width: 1em;
	height: 1em;
	box-shadow: 
				2em 1em yellow,
				3em 1em yellow,
				4em 1em yellow,
				5em 1em yellow,
				1em 2em yellow,
				2em 2em yellow,
				3em 2em yellow,
				4em 2em yellow,
				5em 2em yellow,
				6em 2em yellow,
				1em 3em yellow,
				2em 3em yellow,
				3em 3em yellow,
				4em 3em yellow,
				5em 3em black,
				6em 3em yellow,
				1em 4em yellow,
				2em 4em yellow,
				3em 4em yellow,
				4em 4em yellow,
				5em 4em black,
				6em 4em yellow,
				1em 5em yellow,
				2em 5em yellow,
				3em 5em black,
				4em 5em black,
				5em 5em black,
				6em 5em yellow,
				2em 6em yellow,
				3em 6em yellow,
				4em 6em yellow,
				5em 6em yellow
				;
}

/* https://www.w3schools.com/css/css3_animations.asp */
@keyframes Float {
	from {top: 50px; }
	to {top:40px;}

}

.HeartBlock {
	position: relative;
	margin:20px;
	width:9em;
	height:8em;
	cursor: pointer;	
	animation-name: Float;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in;
	animation-timing-function: ease-out;
}

.Heart {
	width: 1em;
	height: 1em;
	box-shadow: 
				2em 1em red,
				6em 1em red,
				1em 2em red,
				2em 2em red,
				3em 2em red,
				5em 2em red,
				6em 2em red,
				7em 2em red,
				1em 3em red,
				2em 3em white,
				3em 3em red,
				4em 3em red,
				5em 3em red,
				6em 3em red,
				7em 3em red,
				2em 4em red,
				3em 4em red,
				4em 4em red,
				5em 4em red,
				6em 4em red,
				3em 5em red,
				4em 5em red,
				5em 5em red,
				4em 6em red; }

.Hide {
	display: none;}
