body{
	font-family: helvetica;
	color: white;
	margin: 0;
	padding:0;
	overflow-x: hidden;
}

::-webkit-scrollbar {
display: none;
}

h1 {
position:relative;
margin-left: 10%;
padding-top: 3.5%;
font-weight: lighter;
font-size: 36pt;	
max-width: 1200px;

}

h2 {
font-weight: lighter;
font-size: 36pt;	
margin-left: 10%;
max-width: 1200px;
}

h3 {
font-weight: lighter;
font-size: 24pt;	
margin-left: 10%;
max-width: 600px;
}

h4 {
	margin-left: 10%;
	max-width: 600px;
	font-weight: bolder;	
	font-size: 12pt;
	line-height: 25px;	

}

p {
	margin-left: 10%;
	max-width: 600px;
	font-weight: lighter;	
	font-size: 12pt;
	line-height: 25px;	
}




.ArticleSections {
	min-height:102vh;
	max-height:700vh;
}




#box1{
	width:100vw;
	height:17vh;
	background-color: red;

}

#intro{
	display: none;
	position:relative;
}

#box2{
	width:100vw;
	height:17vh;
	background-color: orange;
}

#ricki{
	display: none;
}

#box3{
	width:100vw;
	height:17vh;
	background-color: yellow;	
}

#veronica{
	display: none;
}

#box4{
	width:100vw;
	height:17vh;
	background-color: green;
}

#patrick{
	display: none;
}

#box5{
	width:100vw;
	height:17vh;
	background-color: blue;
}

#florent{
	display: none;
}

#box6{
	width:100vw;
	height:17vh;
	background-color: violet;
}

#chloe{
	display: none;
}
